.bottom {
    background: #000;
        width: 100%;
        padding-top: 100px;

    &__border {
        border-bottom: 1px solid #6e6e6e;
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    &__list {
        display: flex;
        gap: 246px;
    }

    &__items-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #fff;
    }

    &__copyright {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #6e6e6e;

    
    }

}