.call {

    &__wrapper {
        background: #f0c631;
        display: flex;
        justify-content: space-between;
        padding: 43px 200px;
        width: 100%;
        height: 130px;
        margin-top: 64px;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
    }

    &__phone {
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 491px;
    }

}