.cards {
    &__card {
        width: 394px;
        height: 300px;
        background: #fafafa;
        padding: 30px 30px;
        margin-top: 64px;

        &--yellow {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 11px 24px 0 rgba(0, 0, 0, 0.1), 0 43px 43px 0 rgba(0, 0, 0, 0.09), 0 98px 59px 0 rgba(0, 0, 0, 0.05), 0 173px 69px 0 rgba(0, 0, 0, 0.01), 0 271px 76px 0 rgba(0, 0, 0, 0);
            background: #f0c631;
            margin-bottom: 25px;
        }
    }

    &__pic {
        margin-bottom: 30px;
    }
    
    &__text {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        color: #000;
        text-align: left;
    }
}