.pricelist {

    margin-top: 202px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #000;
        margin-top: 40px;

        span {
            color: grey;
        }
    }

    &__list {
        display: grid;
        margin-top: 62px;
    }

    &__cost {
        color: grey;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 42px 0 33px 20px;

        &:nth-child(odd) {
          background-color: #f9f9f9;  
        }
    }
}