* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

button {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}