.types {

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__desc {
        background-color: #fafafa;
        padding: 20px 0 20px 24px;
        max-width: 570px;
        font-size: 20px;
        line-height: 130%;
        color: #6e6e6e;
        position: relative;


        &::after {
            content: '';
            width: calc((100vw - 1200px) / 2);
            height: 100%;
            background-color: #fafafa;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(100%);
        }
    }

    &__list {
        display: flex;
        gap: 15px;
        order: -10;
    }

    &__item {
        margin-top: 100px;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 110%;
        text-transform: uppercase;
        color: #000;
    }

    &__text {
        margin-top: 40px;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #6e6e6e;
    }

    &__item-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
        color: #000;
    }

    &__item-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #6e6e6e;
        margin-top: 40px;
    }

    &__item-pic {
        width: 570px;
        height: 560px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin-top: 40px;
    }
}